mixin pagination(pagination)
     nav
        ul.pagination
            if(pagination.currenPage > 1)
                li.page-item
                    button(
                        class="page-link" 
                        button-pagination = pagination.currenPage -1
                        ) Trang Trước
            - for (var i = 1; i<= pagination.totalPage; i++ )
                li(class=`page-item ${pagination.currenPage == i ? "active" : ""}` )
                    button(class="page-link" 
                    button-pagination = i
                    ) #{i}
        
            if(pagination.currenPage < pagination.totalPage)
                li.page-item
                    button(
                        class="page-link" 
                        button-pagination = pagination.currenPage + 1
                        ) Next
            if(pagination.currenPage != pagination.totalPage)
                li.page-item
                    button(
                        class="page-link" 
                        button-pagination = pagination.totalPage
                        ) Trang Cuối